###########################################
#    Sample configuration for             #
# gcp-dataflow-streaming-example-project  #
###########################################


googlecloud {
  projectId: "engineering-sandbox"
}


bigtable {
  instanceId: "test-instance"
  tableName: "test-table"
}


dataflow {
  stagingLocation: "gs://staging-dataflow-example-project/staging"
}


# in the form: projects/<project_id>/topics/<topic_name>
cloudpubsub {
 topic: "projects/engineering-sandbox/topics/test-topic"
}
