###########################################
#    Sample configuration for             #
# gcp-dataflow-streaming-example-project  #
###########################################


googlecloud {

  projectId: "my-stream"

}


bigtable {

  instanceId: "my-instance"

  tableName: "my-table"

}


dataflow {

  stagingLocation: "my-staging-location"

}
